<div class="container">
  <%= form_with(model: store, local: true) do |form| %>
  <% if store.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <h5><%= pluralize(store.errors.count, "error") %> prohibited this store from being saved:</h5>
      <ul><% store.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <div class="form-row">
      <div class="form-group col-md-4">
        <%= form.label :name, 'Name:' %>
        <%= form.text_field :name, class:'form-control', required: true %>
      </div>
      <div class="form-group col-md-4">
        <%= form.label :active %>      
        <%= form.check_box :active %>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-2">
         <%= form.submit 'Save Substore', :class => 'btn btn-primary' %>
      </div>
      <% end -%>
      <div class="form-group col-md-2">
       <%= button_to 'Cancel', sub_stores_path, :class => 'btn btn-outline-primary', :method => :get%>
      </div>
    </div>   
  </div>