 <div class="content">
  <% if (!@past_current_employee_job.blank?) %>
  		<div class="card-header alert-success font-weight-bold ">Past Jobs</div>
    		<div class="panel-block">
     		<table class="table table-striped table-inbox">
          <thead>
            <tr>
              <th>Date</th>
              <th>Store</th>
              <th>Paid Hours</th>
              <th>Travel Hours<%=@next_current_employee_job.count%></th>
              <th>Job Situation<%=@past_current_employee_job.count%></th>
            </tr>
          </thead>
          <tbody>
          	<% @past_current_employee_job.each do |past_current_employee_job| %> 
            	<tr class="unread">
                <td class="view-message"><%= past_current_employee_job.dt_start.strftime("%d-%m-%Y")%></td>
                <td class="view-message"><%=past_current_employee_job.sub_store.store.name%></td>
                <td class="view-message"><%=past_current_employee_job.paid_hours%></td>
                <td class="view-message"><%=past_current_employee_job.travel_hours%></td>
                <%if past_current_employee_job.situation = 2 %>
                  <td class="view-message">Accepted</td>
                <% elsif past_current_employee_job.situation = 3  %>
                  <td class="view-message">Rejected</td>
                <% end %>
              </tr>
            <% end %>     
          </tbody>
        </table>
      </div>
  <% end %>
  <% if (!@next_current_employee_job.blank?) %>
      <div class="card-header alert-info font-weight-bold ">Next Jobs</div>
        <div class="panel-block">
        <table class="table table-striped table-inbox">
        <thead>
            <tr>
              <th>Date</th>
              <th>Meeting</th>
              <th>Store</th>
              <th>Planned Hours</th>
              <th>Supervisor</th>
            </tr>
          </thead>
          <tbody>
            <% @next_current_employee_job.each do |next_current_employee_job| %> 
              <tr class="unread">
                <td class="view-message"><%= next_current_employee_job.dt_start.strftime("%d-%m-%Y")%></td>
                <td class="view-message"><%= next_current_employee_job.meeting_time.strftime("%H:%M")%> (<%= next_current_employee_job.meeting_point.local%>)</td>
                <td class="view-message"><%=next_current_employee_job.sub_store.store.name%> - <%=next_current_employee_job.sub_store.address%></td>
                <td class="view-message"><%= next_current_employee_job.supposed_hours%></td>
                <td class="view-message"> <%= next_current_employee_job.employee_detail.name %> <%= next_current_employee_job.employee_detail.surname %></td>
              </tr>
            <% end %>     
          </tbody>
        </table>
      </div>
  <% end %>
</div>
