 	<div class="content" style='background: #ecf0f4'>
		<div class="panel panel-default">	
	    <div class="panel-body">
	    	<p>List of Jobs By Month/Year</p>
	  	<div class="panel-body">
	    </div>
   		<table class="table table-striped table-inbox">
      <thead>
        <tr>
          <th>Period</th>
          <th>N Jobs</th>
          <th>Basics/h</th>  
          <th>Travel/h</th>  
          <th>Amount Paid</th>       
        </tr>
      </thead>
        <tbody>
        	<% @current_employee_job_by_month.each do |current_employee_job_by_month| %>
          <%travel_paid = ((current_employee_job_by_month.travel_hours.to_i) + (@travel_rate.to_d))%>
          <%basic_paid = (current_employee_job_by_month.paid_hours.to_i * @employee_rate.to_d)%>
        	<tr class="unread">
            <td class="view-message"><%= link_to current_employee_job_by_month.dtstart.strftime("%B-%Y"), page_jobs_list_url(:dt => current_employee_job_by_month.dtstart.strftime("%m-%Y")) %>
            </td>
            <td class="view-message"><%= current_employee_job_by_month.count %></td>
            <td class="view-message"><%= current_employee_job_by_month.paid_hours %></td>
            <td class="view-message"><%= current_employee_job_by_month.travel_hours %></td>
            <td class="view-message"><%= current_employee_job_by_month.travel_hours%></td>
          </tr>
          <% end %>
        </tbody>
      </table>
		</div>
	</div>