
  <div class="container">
  <%= form_with(model: employee_detail, local: true) do |form| %>
    <% if employee_detail.errors.any? %>
      
      <div class="alert alert-danger" role="alert">
        <h5><%= pluralize(employee_detail.errors.count, "error") %> prohibited this Employee from being saved:</h5>
        <ul><% employee_detail.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <div class="form-row">
      <div class="form-group col-md-2">
        <%= form.label :employee_number, 'Employee Number:' %>
        <% if employee_detail.persisted?%>
          <%= form.text_field :employee_number, value: employee_detail.user.employee_id, class:'form-control', required: true, :disabled => true %>
        <% else %>
           <%= form.text_field :employee_number, value: @employee_number, class:'form-control', required: true %>
        <% end %>
      </div>
      <div class="form-group col-md-4">
        <%= form.label :email, 'Email: '%>
        <% if employee_detail.persisted?%>
          <%= form.text_field :email, value: employee_detail.user.email, class:'form-control', required: true, :disabled => true %>
        <% else %>
          <%= form.text_field :email, value: @email, class:'form-control', required: true %>
        <% end %>
      </div>
      <div class="form-group col-md-2">
        <div class="form-check">          
          <% if employee_detail.persisted?%>
            <% if current_user.admin? %>
                 <%= form.check_box :admin, :checked => true, :disabled => false, class:'form-check-input'%>
              <% else %>
                <%= form.check_box :admin, :checked => false, :disabled => false, class:'form-check-input' %>
              <% end %>
            
          <% else %>
          
            <% if @admin == '1'  %>
              <%= form.check_box :admin, :checked => true, :disabled => true,class:'form-check-input' %> 
            <% else %>
              <%= form.check_box :admin, :checked => false, :disabled => false,class:'form-check-input' %> 
            <% end %>
          <% end %>
          <%= form.label :admin, 'Admin', class:'form-check-label'%>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-4">
        <%= form.label :name, 'Name:'  %>
        <%= form.text_field :name, class:'form-control', required: true%>
      </div>
      <div class="form-group col-md-4">
        <%= form.label :surname, 'Last Name:' %>
        <%= form.text_field :surname, class:'form-control', required: true %>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-4">
        <%= form.label :address_1, 'Address:' %>
        <%= form.text_field :address_1, class:'form-control', required: true %>
      </div>
      <div class="form-group col-md-4">
        <%= form.label :address_2, 'City:' %>
        <%= form.text_field :address_2, class:'form-control', required: true %>
      </div>
      <div class="form-group col-md-4">
        <%= form.label :phone_number, 'Phone:' %>
        <%= form.text_field :phone_number, class:'form-control', required: true %>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-4">
        <%= form.label :employee_visa_id, 'Visa Type:' %>
        <%= form.collection_select(:employee_visa_id, EmployeeVisa.all, :id, :desc, {:include_blank => "Select a category"}, {class: "form-control" , required: true, disabled: !current_user.admin?}) %>
      </div>
      <div class="form-group col-md-4">
        <%= form.label :employee_asset_id, 'Role:' %>
        <%= form.collection_select(:employee_asset_id, EmployeeAsset.all, :id, :desc,
             {:include_blank => "Select a category"}, {class: "form-control", required: true, disabled: !current_user.admin?}) %>
      </div>
      <div class="form-group col-md-4">
        <%= form.label :employee_situation_id, 'Status:' %>
        <%= form.collection_select(:employee_situation_id, EmployeeSituation.all, :id, :status, {:include_blank => "Select a category"}, {class: "form-control", required: true, disabled: !current_user.admin?}) %>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-4">
        <%= form.label :dt_entry, 'Registered Date:' %>
        <%= form.date_field :dt_entry, :include_blank => true , :id => "datepicker", class:'form-control', required: true, disabled: !current_user.admin? %>
      </div>
      <div class="form-group col-md-4">
        <%= form.label :dt_leave, 'Leave Date:' %>
        <%= form.date_field :dt_leave, :include_blank => true , :id => "datepicker", class:'form-control', disabled: !current_user.admin? %>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-2">
         <%= form.submit 'Save Employee', :class => 'btn btn-primary' %>
      </div>
      <% end -%>
      <div class="form-group col-md-2">
       <%= button_to 'Cancel', employee_details_path, :class => 'btn btn-outline-primary', :method => :get%>
      </div>   
    </div>

</div>
