<p id="notice"><%= notice %></p>
  <div class="row">      
    <div class="col-md-10">
      <p>::Employee Detail</p>
    </div>
    <div class="col-md-4-right">
      <%= link_to 'Edit Employee Detail', edit_employee_detail_path(@employee_detail), :class => 'btn btn-primary'%>
    </div>
  </div>
  </br>

<p>
  <strong>Employee ID:</strong>
  <%= @employee_detail.user.employee_id %>
</p>

<p>
  <strong>Email:</strong>
  <%= @employee_detail.user.email %>
</p>

<p>
  <strong>Admin:</strong>
  <%= @employee_detail.user.admin %>
</p>

<p>
  <strong>Name:</strong>
  <%= @employee_detail.name %>
</p>

<p>
  <strong>Surname:</strong>
  <%= @employee_detail.surname %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @employee_detail.phone_number %>
</p>

<p>
  <strong>Address:</strong>
  <%= @employee_detail.address_1 %>
</p>

<p>
  <strong>City:</strong>
  <%= @employee_detail.address_2 %>
</p>

<p>
  <strong>Employee Visa:</strong>
  <%= @employee_detail.employee_visa.desc %>
</p>

<p>
  <strong>Employee Asset:</strong>
  <%= @employee_detail.employee_asset.desc %>
</p>

<p>
  <strong>Employee Situation:</strong>
  <%= @employee_detail.employee_situation.status %>
</p>

<p>
  <strong>Dt entry:</strong>
  <%= @employee_detail.dt_entry %>
</p>

<p>
  <strong>Dt leave:</strong>
  <%= @employee_detail.dt_leave %>
</p>

